<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiz_cudMrrFcXdF5U_9mxWshaQDUMINSA</string>
	<key>GCM_SENDER_ID</key>
	<string>868921740099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.varlikYonetimi</string>
	<key>PROJECT_ID</key>
	<string>varlik-yonetimi-a9cff</string>
	<key>STORAGE_BUCKET</key>
	<string>varlik-yonetimi-a9cff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868921740099:ios:5c94099c3e587fe5e5bdf6</string>
</dict>
</plist>